<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>我的补贴</title>

<!--公共集合样式-->
<link th:href="@{/css/base.css}" rel="stylesheet"/>
<link th:href="@{/jquery.mobile-1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
<script th:src="@{/jquery.mobile-1.4.5/js/jquery.js}"></script>
<script th:src="@{/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js}"></script>
<script th:src="@{/js/script.js}"></script>

</head>
<body>

<div class="m-box">
	<div class="head">
		<a href="#"></a>
		<span id="wo">我的补贴</span>
		<div class="del" id="del">删除</div>
	</div>
	<div style="height: 50px;"></div>
	<div class="list">
		<ul th:each="goodslist,start:${goodsList}">
			<li>
				<div class="box">
					<div class="check dark-check"></div>
					<div class="img">
						<img th:src="@{${goodslist.image}}" style="width:70%;margin-top: 10px;" />
					</div>
					<div class="info clearfix" >
						<div class="title" th:text="${goodslist.goodsname}"></div>
						<div class="m-num fl">
							<span class="jian" th:onclick="remove([[${start.count}]])">-</span>
							<span style="margin-left: 50px;background-color: white" th:each="map:${goodsMap}" th:if="${goodslist.goodsid} eq ${map.key}" th:text="${map.value}" class="num"/>
							<span class="add"  th:onclick="add([[${start.count}]])">+</span>
						</div>
						<div class="price fr" >￥<span th:each="map2:${goodsMap}" th:if="${goodslist.goodsid} eq ${map2.key}" th:text="${goodslist.amountOfMoney}*${map2.value}"></span></div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	
	
	<div data-role="none">
		<div class="foot clearfix">
		<!--全选-->
			<div class="all-check">
				全选
			<div class="gap-check check"></div>
			</div>
			  <!--总价-->
			<div class="foot-box">
						<div class="itme" style="margin-right:5px;float: right;margin-top: -5px;"><input type="button" class="btn" value="确认下单"  /></div>
			</div>
		</div>
	</div>
	 <div data-role="navbar" id="divtab">
				 <ul>
					 <li style="margin-top: 5px;"><a href="javascript:void(0);" th:onclick="user([[${session.emplyNoThree}]])"><i class="fa fa-user"></i><br/>个人中心</a></li>
					 <li><a href="javascript:void(0);" th:onclick="bylist([[${session.emplyNoThree}]])"><i class="fa fa-cart-plus"></i><br/>补贴列表</a></li>
					 <li><a href="javascript:void(0);" class="ui-btn-active ui-state-persist"><i class="fa fa-street-view"></i><br/>我的补贴</a></li>
					 <li><a href="javascript:void(0);"><i class="fa fa-support"></i><br/>帮助</a></li>
				 </ul>
	</div>
</div>

<script type="text/javascript">
	function user(emplyNo) {
		window.location.href="http://localhost:8080/syzg/emp/userHtml?emplyNo="+emplyNo;
	}

	function bylist(emplyNo) {
		window.location.href="http://localhost:8080/syzg/emp/subsidy_listHtml?emplyNo="+emplyNo;
	}

	$(".jian").click(function(){
		var num = parseInt($(this).siblings('.num').val());
		var price = parseInt($(this).parents('.m-num').siblings('.price').find('span').data('price'));
		if(num >1){
			var sum = parseInt(num-1);
			$(this).siblings('.num').val(sum);
			console.log(sum)
			var all = parseInt(sum *price);
			$(this).parents('.m-num').siblings('.price').find('span').text(all)
		}else{
			alert('购买件数不能小于1')
		}
	})


	$(".add").click(function(){
		alert("123")
		var num = parseInt($(this).siblings('.num').val());
		alert(num)
		var price = parseInt($(this).parents('.m-num').siblings('.price').find('span').data('price'));
		alert(price)
		var sum = parseInt(num+1);
		$(this).siblings('.num').val(sum);
		var all = parseInt(sum *price);
		$(this).parents('.m-num').siblings('.price').find('span').text(all)

	})

</script>

</body>
</html>
