<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/jquery.mobile-1.4.5/css/themes/default/jquery.mobile-1.4.5.min.css}">
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/user.css}"/>
		<script th:src="@{/jquery.mobile-1.4.5/js/jquery.js}"></script>
		<script th:src="@{/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js}"></script>
		<script th:src="@{/js/jquery-mobile-navbar.js}"></script>
	</head>
	<body>
		<div data-role="page">
		  <div data-role="none" class="header">
			<h1><img th:src="@{/img/logo.PNG}" id="imgser"></h1>
		  </div>
			<span th:each="user:${byEmplyNo}">
		  <div data-role="none" id="form" class="ui-content">
			<form>

				<tr>
					<label>工号:</label>
					<input type="text" readonly="readonly" id="emplyno" th:value="${user.emplyno}"/>
				</tr>
				<tr>
					<label>姓名:</label>
					<input type="text" readonly="readonly" id="emplyname" th:value="${user.emplyname}"/>
				</tr>
				<tr>
					<label>所属部门:</label>
					<input type="text" readonly="readonly" id="jobno" th:value="${user.jobno}"/>
				</tr>
				<tr>
					<label>电话号码:</label>
					<input type="text" readonly="readonly" id="mobile" th:value="${user.mobile}"/>
				</tr>

				<tr>
					<label>补助金额:</label>
					<input type="text" readonly="readonly" id="subsidyMoney" th:value="${user.subsidyMoney}"/>
				</tr>

				<tr>
					<label>补助期限:</label>
					<input type="text" readonly="readonly" id="subsidyTerm" th:value="${#dates.format(user.subsidyTerm,'yyyy-MM-dd HH:mm:ss')}"/>
				</tr>

				<tr>
					<label>已用金额:</label>
					<input type="text" readonly="readonly" id="ausedMoney" th:value="${user.ausedMoney}"/>
				</tr>

			</form>
		  </div>
            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
              <div data-role="navbar" id="divtab" >
			  <ul>
				 <li><a href="#" class="ui-btn-active ui-state-persist"><i class="fa fa-user"></i><br/>个人中心</a></li>
				 <li><a href="javascript:void(0);" th:onclick="bylist([[${user.emplyno}]])"><i class="fa fa-cart-plus"></i><br/>补贴列表</a></li>
				 <li><a href="javascript:void(0);" th:onclick="myAll([[${user.emplyno}]])"><i class="fa fa-street-view"></i><br/>我的补贴</a></li>
			  </ul>
		      </div>
            </div>

			</span>
		</div>
		<script type="text/javascript">
			function bylist(emplyNo) {
				window.location.href="http://localhost:8080/syzg/emp/subsidy_listHtml?emplyNo="+emplyNo;
			}

			function myAll(emplyNo) {
				window.location.href="http://localhost:8080/syzg/emp/my_allowanceHtml?emplyNo="+emplyNo;
			}
		</script>
	</body>
</html>
